body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    color: #212121;
}

.header {
    background-color: #FFFFFF;
}

.navinne {
    font-weight: 500;

    font-size: 14px;
    line-height: 1, 14285714;
    letter-spacing: 0.02em;

}

.navthis {
    font-weight: 500;
    color: #2196F3;
    font-size: 14px;
    line-height: 1, 14285714;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway';

    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19230769;
    color: #2196F3;
    letter-spacing: 0.03em;

    ;

}

.telandmailheader {
    font-weight: 500;
    color: #757575;
    font-size: 14px;
    line-height: 1, 14285714;
    letter-spacing: 0.02em
}

.telandmailheader:hover {
    color: #2196F3
}

.telandmailheader:focus {
    color: #2196F3
}

.button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1, 625;

    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

}

.button:hover {
    color: #2196F3
}

.button:focus {
    color: #2196F3
}

.p-pordfolio {
    color: #757575;
    font-size: 16px;
    line-height: 1, 875;
    letter-spacing: 0.03em;

}

.h4-pordfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.div-pordfolio {
    background: #FFFFFF;

}

footer {
    background: #2F303A;
    ;
}

.footeradres {
    font-size: 14px;
    line-height: 1, 71428571;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footeradres:focus {
    color: #2196F3
}

.telandemailfooter {
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71428571;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



.telandemailfooter :focus {
    color: #2196F3
}

.divh1 {
    background: #2F303A;
}

.h11234 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36363636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.buttonh1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1, 875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;

}

.p-index {
    color: #757575;
    font-size: 16px;
    line-height: 1, 875;
    letter-spacing: 0.03em;
}

.p-index-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 454545;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.h2title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 6666666;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.p-work {
    font-size: 16px;
    line-height: 1, 1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

}

.p-name-work {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 1875;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}